<ion-content>
    <ion-slides [options]="slideOpts" id="slides" pager="true">
        <ion-slide>
            <ion-icon class="image" name="happy"></ion-icon>
            <div class="text-area">
                <h1>{{'onboarding.welcome.title' | translate}} {{name}}!</h1>
                <p [innerHTML]='this.translate.instant("onboarding.welcome.description")'></p>
            </div>
            <ion-button (click)="slideNext()" expand="block">
                {{'actions.next' | translate}}
            </ion-button>
        </ion-slide>

        <ion-slide *ngIf="!hasAcceptedLegals">
            <ion-icon class="image" name="document-text"></ion-icon>
            <div class="text-area">
                <h1>{{'onboarding.legal.title' | translate}}</h1>
                <p>
                    {{'onboarding.legal.description1' | translate}}
                    <span (click)="openLegalPage()" class="link">{{'onboarding.legal.description2' | translate}}</span>
                    &
                    <span (click)="openPrivacyPage()" class="link">{{'onboarding.legal.description3' | translate}}</span>
                    {{'onboarding.legal.description4' | translate}}
                </p>
            </div>
            <ion-button (click)="acceptTerms()" expand="block">
                {{'actions.accept' | translate}}
            </ion-button>
        </ion-slide>

        <ion-slide>
            <ion-icon class="image" name="notifications-circle"></ion-icon>
            <div class="text-area">
                <h1>{{'onboarding.push.title' | translate}}</h1>
                <p>{{'onboarding.push.description' | translate}}</p>
            </div>
            <ion-button (click)="initPushNotifications()" expand="block">
                {{'onboarding.push.enable' | translate}}
            </ion-button>
            <ion-button (click)="slideNext()" expand="block" fill="none">
                {{'actions.skip' | translate}}
            </ion-button>
        </ion-slide>
        <ion-slide *ngIf="!name">
            <ion-icon class="image" name="create"></ion-icon>
            <div class="text-area">
                <h1>{{'onboarding.setName.title' | translate}}</h1>
                <p>{{'onboarding.setName.description' | translate}}</p>
            </div>
            <form (ngSubmit)="submitName()" [formGroup]="nameForm" class="ion-margin-top">

                <ion-item class="form-input" lines="none">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-input autocapitalize="words" autocomplete="given-name" clearInput
                               enterkeyhint="next" formControlName="name"
                               inputmode="text" placeholder="{{'login.name' | translate}}" type="text"></ion-input>
                </ion-item>

                <span *ngIf="isSubmitted && nameForm.controls.name.errors?.required" class="form-input-error">
                    {{'login.errors.name-required' | translate}}
                </span>

                <ion-button type="submit">
                    {{'actions.save' | translate}}
                </ion-button>
            </form>
        </ion-slide>
        <ion-slide *ngIf="houseInvite">
            <ion-icon class="image" name="ticket-outline"></ion-icon>
            <div class="text-area">
                <h1>{{'onboarding.joinHouse.title' | translate}} {{houseInvite.houseName}}</h1>
                <p>{{'onboarding.joinHouse.description' | translate}}</p>
            </div>
            <ion-button (click)="joinHouse()" expand="block">
                {{'actions.join' | translate}}
            </ion-button>
            <ion-button (click)="slideNext()" color="danger" expand="block" fill="outline">
                {{'actions.deny' | translate}}
            </ion-button>
        </ion-slide>
        <ion-slide>
            <ion-icon class="image" name="people-circle"></ion-icon>
            <div class="text-area">
                <h1>{{'onboarding.start.title' | translate}}</h1>
                <p>{{'onboarding.start.description' | translate}}</p>
            </div>
            <ion-button (click)="dismiss()" expand="block" fill="outline">
                {{'actions.start' | translate}}
                <ion-icon name="arrow-forward" slot="end"></ion-icon>
            </ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>
