<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>

        <ion-title>{{'dashboard.createGroup.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'dashboard.createGroup.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="form-content">
        <h5>{{'dashboard.createGroup.step1.title' | translate}}</h5>
        <p>{{'dashboard.createGroup.step1.description' | translate}}</p>
        <form [formGroup]="groupForm" (ngSubmit)="setName()">
            <ion-item lines="none" class="form-input">
                <ion-icon name="people-outline"></ion-icon>
                <ion-input placeholder="{{'dashboard.createGroup.groupName' | translate}}" autocapitalize="words"
                           formControlName="name" [attr.disabled]="groupCreated"
                           clearInput type="text" enterkeyhint="next" inputmode="text"></ion-input>
            </ion-item>
            <span class="form-input-error" *ngIf="isSubmitted && form.name.errors?.required">
                {{'dashboard.createGroup.errors.name-required' | translate}}
            </span>
            <span class="form-input-error" *ngIf="isSubmitted && form.name.errors?.length">
                {{'dashboard.createGroup.errors.name-length' | translate}}
            </span>

            <ion-button id="name-button" class="ion-margin-top" [attr.disabled]="groupCreated" [color]="groupCreated && !loading ? 'success' : 'primary'" expand="block"
                        type="submit">
                <ion-label *ngIf="!groupCreated">{{'actions.submit' | translate}}</ion-label>
                <ion-spinner *ngIf="groupCreated && loading"></ion-spinner>
                <ion-icon *ngIf="groupCreated && !loading" name="checkmark-outline"></ion-icon>
            </ion-button>
        </form>

        <hr>

        <div>
            <h5>{{'dashboard.createGroup.step2.title' | translate}}</h5>
            <p>{{'dashboard.createGroup.step2.description' | translate}}</p>
            <ion-button [attr.disabled]="!group" expand="block" (click)="shareGroup()">
                <ion-label>{{'dashboard.createGroup.shareInvite' | translate}}</ion-label>
            </ion-button>
        </div>

        <hr>

        <div>
            <h5>{{'dashboard.createGroup.step3.title' | translate}}</h5>
            <p>{{'dashboard.createGroup.step3.description' | translate}}</p>
            <ion-button [attr.disabled]="!(group && sharedGroup)" expand="block" (click)="navigateSettings()">
                <ion-label>{{'dashboard.createGroup.navigateSettings' | translate}}</ion-label>
            </ion-button>
        </div>
    </div>

</ion-content>
