<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button mode="ios" fill="none" [routerLink]="'/dashboard'" routerDirection="back">
                <fa-duotone-icon slot="icon-only" class="primary" fixedWidth [icon]="['fad', 'chevron-left']"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{'dashboard.createGroup.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'dashboard.createGroup.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="form-content">
        <h5>{{'dashboard.createGroup.step1.title' | translate}}</h5>
        <p>{{'dashboard.createGroup.step1.description' | translate}}</p>
        <form (ngSubmit)="setName()" [formGroup]="groupForm">
            <ion-item class="form-input" lines="none">
                <ion-icon name="people-outline"></ion-icon>
                <ion-input [attr.disabled]="groupCreated" autocapitalize="words"
                           clearInput enterkeyhint="next"
                           formControlName="name" inputmode="text"
                           placeholder="{{'dashboard.createGroup.groupName' | translate}}" type="text"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.name.errors?.required" class="form-input-error">
                {{'dashboard.createGroup.errors.name-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.name.errors?.length" class="form-input-error">
                {{'dashboard.createGroup.errors.name-length' | translate}}
            </span>

            <ion-button [attr.disabled]="groupCreated" [color]="groupCreated && !loading ? 'success' : 'primary'"
                        class="ion-margin-top"
                        expand="block" id="name-button"
                        type="submit">
                <ion-label *ngIf="!groupCreated">{{'actions.submit' | translate}}</ion-label>
                <ion-spinner *ngIf="groupCreated && loading"></ion-spinner>
                <ion-icon *ngIf="groupCreated && !loading" name="checkmark-outline"></ion-icon>
            </ion-button>
        </form>

        <hr>

        <div>
            <h5>{{'dashboard.createGroup.step2.title' | translate}}</h5>
            <p>{{'dashboard.createGroup.step2.description' | translate}}</p>
            <ion-button (click)="shareGroup()" [attr.disabled]="!group" expand="block">
                <ion-label>{{'dashboard.createGroup.shareInvite' | translate}}</ion-label>
            </ion-button>
        </div>

        <hr>

        <div>
            <h5>{{'dashboard.createGroup.step3.title' | translate}}</h5>
            <p>{{'dashboard.createGroup.step3.description' | translate}}</p>
            <ion-button (click)="navigateGroupOverview()" [attr.disabled]="!(group && sharedGroup)" expand="block">
                <ion-label>{{'dashboard.createGroup.navigateGroupOverview' | translate}}</ion-label>
            </ion-button>
        </div>
    </div>

</ion-content>
