<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button mode="ios" routerLink="/group/{{groupId}}/stock" routerDirection="back">
                <fa-duotone-icon slot="icon-only" class="primary" fixedWidth
                                 [icon]="['fad', 'chevron-left']"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>{{product?.name}}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="removeProduct()" [disabled]="product?.stock !== 0">
                <fa-duotone-icon slot="icon-only" class="danger" fixedWidth
                                 [icon]="['fad', 'trash-alt']"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{product?.name}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item lines="inset">
            <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'edit']"></fa-duotone-icon>
            <ion-input [(ngModel)]="newName" value="{{product?.name}}"></ion-input>
            <ion-button (click)="setName()"
                        [attr.disabled]="newName === product?.name || newName?.length < 2 || !uniqueName">{{'actions.edit' | translate}}</ion-button>
        </ion-item>
        <ion-item lines="full">
            <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'tag']"></fa-duotone-icon>
            <app-money-input padding="none" [icon]="undefined" (amountEntered)="amountChanged($event)" [amount]="''"
                             [precision]="2"></app-money-input>
            <ion-button (click)="setPrice()"
                        [attr.disabled]="newPrice === product?.price">{{'actions.edit' | translate}}</ion-button>
        </ion-item>
        <ion-item *ngIf="product?.totalStock && product?.totalStockWorth" lines="none">
            <ion-label class="ion-text-wrap">
                <p class="small" [innerHTML]="'group.stock.detail.advisedPrice' | translate:{price: advicedPrice}"></p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
