.transaction-bill {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--ion-color-danger);
  font-size: 1rem;

  span {
    font-size: 0.9rem;
    padding-left: .2rem;
  }

  padding-bottom: .4rem;
}

ion-avatar {
  margin: .75rem 1rem auto 0;
}
