<ion-item class="large"  (click)="openTransaction(transaction)"
          [disabled]="transaction.removed" button="{{!transaction.removed}}" detail="{{!transaction.removed}}">
    <app-account-avatar slot="start" size="small" [account]="account"></app-account-avatar>

    <ion-label class="description" [ngStyle]="transaction.removed ? {'text-decoration': 'line-through'} : {}">
        <h3 *ngFor="let item of transaction.items">
            {{'house.transaction.header' | translate:{
            amount: item.amount,
            productName: house?.getProductById(item.productId)?.name,
            accountName: house?.getAccountById(item.accountId)?.name
        } }}
        </h3>
        <div *ngIf="transaction.priceByAccountId(currentAccount?.id); let price" class="transaction-bill">
            <fa-duotone-icon [icon]="['fad', 'minus-circle']" class="danger small no-width" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <p>{{price | money}}</p>
        </div>
        <p class="small">
            {{'house.transaction.timeline' | translate:{
            date: transaction.createdAt | moment | capitalize,
            accountName: house?.getUserAccountById(transaction.createdBy)?.name
        } }}
        </p>
    </ion-label>
</ion-item>
