.transaction-bill {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--ion-color-danger);
  font-size: 1rem;

  p {
    padding-left: 8px;
  }

  padding-bottom: 4px;
}

.description {
  margin: 4px;
}

ion-avatar {
  margin: .75rem 1rem auto 0;
}
