<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/dashboard"></ion-back-button>
        </ion-buttons>

        <ion-title *ngIf="group">{{group.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="settings" routerDirection="forward">
                <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large" *ngIf="group">{{group.name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-refresher slot="fixed" (ionRefresh)="reset($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <ng-container *ngIf="transactions">
            <ion-item *ngIf="transactions.length === 0" lines="none">
                <ion-label>
                    <p>{{'group.transactions.empty' | translate}}</p>
                </ion-label>
            </ion-item>
            <ion-item *ngFor="let transaction of transactions">
                <ion-label>
                    <h3>
                        {{transaction.amount}} {{transaction.product.name}} voor {{transaction.account.name}}
                    </h3>
                    <p>
                        Op {{transaction.createdAt.toDate().toLocaleString()}} door {{transaction.createdBy}}
                    </p>
                </ion-label>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadNext()" [disabled]="doneLoading">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button disabled="{{group?.products?.length === 0}}" (click)="addTransaction()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
