<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{group.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let transaction of transactions$ | async">
            <ion-label class="ion-text-wrap">
                <ion-text>
                    <h3>{{transaction.product.name}} </h3>
                </ion-text>
                <p>{{transaction.account.name}}</p>
                <ion-text>
                    <p>Paragraph line 2 secondary</p>
                </ion-text>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>