ion-fab {
  --margin-bottom: env(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/

  .fab-button-disabled {
    opacity: 1;
    --background: var(--ion-color-medium-tint);
  }
}

ion-icon.large-icon {
  font-size: 2rem;
}

ion-tab-button {
  ion-label {
    margin: .2rem 0 0;
    line-height: 1;
    min-height: 0;
    font-size: .7rem;
  }
}
