<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <fa-duotone-icon [icon]="['fad', 'bars']" class="primary" [fixedWidth]="true" slot="start"></fa-duotone-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>{{(house$ | async)?.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <fa-duotone-icon (click)="openInfo()" [icon]="['fad', 'info-circle']" class="primary" [fixedWidth]="true"
                                 slot="start"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="fakePull($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{(house$ | async)?.name}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <!--            <ion-item *ngIf="isAdmin" button class="large-item" detail="true" routerDirection="forward"-->
        <!--                      routerLink="preferences">-->
        <!--                <ion-icon name="color-palette-outline" slot="start"></ion-icon>-->
        <!--                <ion-label>-->
        <!--                    {{'house.overview.preferences.title' | translate:{name: house.name} }}-->
        <!--                </ion-label>-->
        <!--            </ion-item>-->
        <ion-item (click)="shareHouse()" *ngIf="isAdmin" button class="list-button" detail="false" lines="full">
            <fa-duotone-icon [icon]="['fad', 'share-alt-square']" class="primary large" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.accounts.inviteLink' | translate}}</h3>
                <p class="small">
                    {{'house.overview.accounts.' + (inviteLinkExpired ? 'expired' : 'validThrough') | translate}} {{house?.inviteLinkExpiry | dateTime}}
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="addSharedAccount()" *ngIf="isAdmin" button class="list-button" detail="true"
                  lines="full">
            <fa-duotone-icon [icon]="['fad', 'sack']" class="primary large" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.addSharedAccount.title' | translate}}</h3>
                <p class="small ion-text-wrap">
                    {{'house.overview.addSharedAccount.desc' | translate}}
                </p>
            </ion-label>
        </ion-item>
        <ion-item button class="list-button" detail="true" lines="full" routerDirection="forward"
                  routerLink="settlements">
            <fa-duotone-icon [icon]="['fad', 'calculator-alt']" class="primary large" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.settle.house.itemTitle' | translate}}</h3>
                <p class="small ion-text-wrap">
                    {{'house.overview.settle.house.description-short' | translate}}
                </p>
            </ion-label>
        </ion-item>


        <!-- START ACCOUNTS SECTION -->
        <ion-list-header lines="full">
            <ion-label>{{'house.overview.accounts.title' | translate}}</ion-label>
        </ion-list-header>

        <app-user-account-item *ngFor="let account of house?.accounts" [account]="account"
                               [canEditAccount]="isAdmin || isAccountOwner(account)"
                               navLink="house/{{house?.id}}/preferences/accounts/{{account.id}}"></app-user-account-item>

        <ion-list-header lines="full">
            <ion-label>{{'house.overview.sharedAccounts' | translate}}</ion-label>
        </ion-list-header>

        <ion-item *ngIf="house?.sharedAccounts.length === 0" class="no-min-height no-bg" lines="none">
            <ion-label>
                <p>
                    {{'house.overview.emptySharedAccounts' | translate}}
                </p>
            </ion-label>
        </ion-item>

        <app-shared-account-item (clicked)="openAccount(sharedAccount)"
                                 *ngFor="let sharedAccount of house?.sharedAccounts"
                                 [account]="sharedAccount"
                                 [canEditAccount]="isAdmin"></app-shared-account-item>
        <!-- END ACCOUNTS SECTION -->

    </ion-list>
</ion-content>
