<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <fa-duotone-icon [icon]="['fad', 'bars']" class="primary" [fixedWidth]="true"
                                     slot="start"></fa-duotone-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button>
                <fa-duotone-icon (click)="openInfo()" [icon]="['fad', 'info-circle']" class="primary" [fixedWidth]="true"
                                 slot="start"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="currentAccount as account">
        <div (dblclick)="content.scrollToTop(500)" class="account-toolbar">
            <app-account-avatar [account]="account" size="large"></app-account-avatar>
            <ion-label>
                <h2>{{account.name}}</h2>
                <p>{{'dashboard.balance' | translate}} <span
                        [ngClass]="account.balance.amount >= 0 ? 'positive-amount' : 'negative-amount'">{{account.balance.amount | money}}</span>
                </p>
            </ion-label>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true">
    <ion-refresher (ionRefresh)="reset($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngIf="doneLoading && transactions && transactions.length === 0" class="empty-container">
        <ion-img src="assets/svg/no-transactions.svg"></ion-img>
        <ion-label>
            <p>
                {{'house.transactions.empty' | translate}}
            </p>
        </ion-label>
    </div>

    <ion-list class="no-bg">
        <app-transaction-item *ngFor="let transaction of transactions"
                              [transaction]="transaction"></app-transaction-item>

        <ion-button (click)="loadNext()" class="no-bg more-button" expand="block" fill="clear"
                    *ngIf="transactions?.length > 0 && !doneLoading" [disabled]="isLoadingMore">
            <fa-duotone-icon [icon]="['fad', 'arrow-alt-circle-down']" class="primary download-icon" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label *ngIf="!isLoadingMore" color="primary">{{'actions.loadMore' | translate}}</ion-label>
            <ion-progress-bar *ngIf="isLoadingMore" type="indeterminate"></ion-progress-bar>
        </ion-button>
    </ion-list>
</ion-content>
