div.account-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;

  app-account-avatar {
    margin-bottom: 8px;
  }
}

.more-button {
  margin-top: 16px;
}

.download-icon {
  margin-right: 4px;
}