div.account-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0.5rem;

  ion-avatar {
    width: 4rem;
    height: 4rem;
    margin-bottom: 8px;
    --border-radius: .4rem;
  }
}

.more-button {
  margin-top: 16px;
}

.download-icon {
  margin-right: 4px;
}