<ion-item class="large" button lines="inset" routerDirection="forward" routerLink="shared/{{settlement.id}}">
    <fa-duotone-icon [icon]="['fad', 'sack']" class="primary" [fixedWidth]="true" slot="start"></fa-duotone-icon>
    <ion-label>
        <h3>{{'house.overview.settle.sharedAccount.detail.settlement'
            | translate:{
            name: settlement?.getAccountName(settlement?.creditorId)
        } }}</h3>
        <p class="small">
            {{'house.overview.settle.sharedAccount.detail.createdAt' | translate:{
            date: settlement?.createdAt | date,
            name: settlement?.getAccountName(settlement?.createdBy)
        } }}
        </p>
    </ion-label>
</ion-item>
