<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'bars']"></fa-duotone-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="currentAccount as account">
        <div class="account-toolbar" (dblclick)="content.scrollToTop(500)">
            <ion-avatar>
                <img *ngIf="account.photoUrl" alt="" src="{{account.photoUrl}}">
                <img *ngIf="!account.photoUrl" alt="" src="assets/svg/avatar.svg">
            </ion-avatar>
            <ion-label>
                <h2>{{account.name}}</h2>
                <p>Saldo: <span
                        [ngClass]="balance.amount >= 0 ? 'positive-amount' : 'negative-amount'">{{balance.amount | money}}</span>
                </p>
            </ion-label>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true">
    <ion-refresher (ionRefresh)="reset($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item class="no-min-height" *ngIf="transactions?.length === 0" lines="none">
            <ion-label>
                <p>{{'group.transactions.empty' | translate}}</p>
            </ion-label>
        </ion-item>

        <app-transaction-item *ngFor="let transaction of transactions" [transaction]="transaction"></app-transaction-item>

        <ion-button (click)="loadNext()" *ngIf="!doneLoading" [disabled]="isLoadingMore" fill="none">
            <ion-label *ngIf="!isLoadingMore" color="primary">{{'actions.loadMore' | translate}}</ion-label>
            <ion-progress-bar *ngIf="isLoadingMore"></ion-progress-bar>
        </ion-button>
    </ion-list>
</ion-content>
