<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <ion-icon slot="icon-only" name="menu"></ion-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>

        <ion-title (click)="content.scrollToTop(500)">{{'group.transactions.title' | translate}}</ion-title>
    </ion-toolbar>
    <ion-toolbar *ngIf="currentAccount as account">
        <div class="account-toolbar">
            <ion-avatar>
                <img *ngIf="account.photoUrl" alt="" src="{{account.photoUrl}}">
                <img *ngIf="!account.photoUrl" alt="" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
            </ion-avatar>
            <ion-label>
                <h1>{{account.name}}</h1>
                <p>Saldo: <span
                        [ngClass]="account.balance >= 0 ? 'positive-amount' : 'negative-amount'">{{accountBalanceString}}</span>
                </p>
            </ion-label>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content #content [fullscreen]="true">
    <ion-refresher (ionRefresh)="reset($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngIf="transactions?.length === 0" lines="none">
            <ion-label>
                <p>{{'group.transactions.empty' | translate}}</p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openTransaction(transaction)" *ngFor="let transaction of transactions"
                  [disabled]="transaction.removed" button="{{!transaction.removed}}" detail="{{!transaction.removed}}">
            <ion-label [ngStyle]="transaction.removed ? {'text-decoration': 'line-through'} : {}">
                <h3 *ngFor="let item of transaction.items">
                    {{item.amount}}x {{group.getProductById(item.productId)?.name}}
                    voor {{group.getAccountById(item.accountId)?.name}}
                </h3>
                <div class="transaction-bill" *ngIf="transaction.priceByAccountId(currentAccount.id); let price">
                    <ion-icon name="remove-circle-outline"></ion-icon>
                    <span>{{price}}</span>
                </div>
                <p style="font-size: .7rem">
                    Op {{transaction.createdAt.toDate().toLocaleString()}}
                    door {{group.getUserAccountById(transaction.createdBy)?.name}}
                </p>
            </ion-label>
        </ion-item>
        <ion-button (click)="loadNext()" *ngIf="!doneLoading" [disabled]="isLoadingMore" fill="none">
            <ion-label *ngIf="!isLoadingMore" color="primary">{{'actions.loadMore' | translate}}</ion-label>
            <ion-progress-bar *ngIf="isLoadingMore"></ion-progress-bar>
        </ion-button>
    </ion-list>
</ion-content>
