<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/house/' + houseId + '/preferences'" fill="none" mode="ios"
                        routerDirection="back">
                <fa-duotone-icon [icon]="['fad', 'chevron-left']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{account?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{account?.name}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ion-item-divider class="bottom-line"></ion-item-divider>
        <ion-item lines="inset">
            <fa-duotone-icon [icon]="['fad', 'user']" class="primary" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-input [(ngModel)]="newName" value="{{account?.name}}"></ion-input>
            <ion-button (click)="setName()"
                        [attr.disabled]="newName === account?.name || newName?.length < 2">{{'actions.edit' | translate}}</ion-button>
        </ion-item>
        <!--        <ion-item *ngIf="isSelf">-->
        <!--            <fa-duotone-icon [icon]="['fad', 'bell']" class="primary-reversed" [fixedWidth]="true"-->
        <!--                             slot="start"></fa-duotone-icon>-->
        <!--            <ion-label>-->
        <!--                <h3>{{'house.overview.account.enablePush' | translate}}</h3>-->
        <!--            </ion-label>-->
        <!--            <ion-toggle (ngModelChange)="togglePush()" [(ngModel)]="enablePush"-->
        <!--                        slot="end"></ion-toggle>-->
        <!--        </ion-item>-->
        <ion-item *ngIf="isAdmin" lines="full">
            <fa-duotone-icon [icon]="['fad', 'users-crown']" class="primary" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.account.enableAdmin' | translate}}</h3>
            </ion-label>
            <ion-toggle (ngModelChange)="toggleAdmin()" [(ngModel)]="enableAdmin" [disabled]="!canDisableAdmin"
                        slot="end"></ion-toggle>
        </ion-item>

        <ion-list-header lines="full">
            <ion-label>
                {{'house.overview.account.balance' | translate}}
            </ion-label>
        </ion-list-header>
        <ion-item>
            <fa-duotone-icon [icon]="['fad', 'wallet']" class="primary" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.account.balanceAmount' | translate}}</h3>
            </ion-label>
            <span [ngClass]="account?.balance.amount >= 0 ? 'positive-amount' : 'negative-amount'"
                  slot="end">{{account?.balance.amount | money}}</span>
        </ion-item>
        <ion-item>
            <fa-duotone-icon [icon]="['fad', 'plus-circle']" class="success" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.account.totalIn' | translate}}</h3>
            </ion-label>
            <span slot="end">{{account?.balance.totalIn | money}}</span>
        </ion-item>
        <ion-item lines="full">
            <fa-duotone-icon [icon]="['fad', 'minus-circle']" class="danger" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.account.totalOut' | translate}}</h3>
            </ion-label>
            <span slot="end">{{account?.balance.totalOut | money}}</span>
        </ion-item>

        <ion-item-divider class="bottom-line">
        </ion-item-divider>

        <ion-item (click)="deleteAccount()" [disabled]="!account?.isRemovable" button lines="full">
            <fa-duotone-icon [icon]="['fad', 'sign-out']" class="danger large" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3 *ngIf="isAdmin && !isSelf"> {{'house.overview.account.deleteAccount' | translate:{name: account?.name} }}</h3>
                <h3 *ngIf="isSelf"> {{'house.overview.account.leaveHouse' | translate:{houseName: house?.name} }}</h3>
                <p *ngIf="!account?.isRemovable" class="small black ion-text-wrap">
                    {{ 'house.overview.account.deletePrecondition' | translate:{name: isSelf ? ('house.overview.account.you' | translate) : account?.name} }}
                </p>
            </ion-label>
        </ion-item>

        <ion-item (click)="settleUser()" *ngIf="!account?.isRemovable" button class="list-button"
                  detail="false"
                  lines="full">
            <fa-duotone-icon [icon]="['fad', 'calculator-alt']" class="primary large" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.account.settleUser.title' | translate}}</h3>
                <p class="small ion-text-wrap">
                    {{'house.overview.account.settleUser.description' | translate}}
                </p>
            </ion-label>
        </ion-item>

    </ion-list>
</ion-content>
