<ion-item class="large" button lines="inset" routerDirection="forward" routerLink="house/{{settlement.id}}">
    <fa-duotone-icon [icon]="['fad', 'house']" class="primary" [fixedWidth]="true" slot="start"></fa-duotone-icon>
    <ion-label>
        <h3>{{'house.overview.settle.house.detail.settlement' | translate }}</h3>
        <p class="small">
            {{'house.overview.settle.sharedAccount.detail.createdAt' | translate:{
            date: settlement?.createdAt | date,
            name: settlement?.getAccountName(settlement?.createdBy)
        } }}
    </ion-label>
</ion-item>
