<ion-item class="large"  (click)="onClick()" [button]="canEditAccount" [detail]="canEditAccount">
    <div class="content">
        <ion-label>
            <h3>{{account.name}}</h3>
            <p>
                {{'house.overview.account.balanceAmount' | translate }}:
                <span *ngIf="account.balance; let balance"
                      [ngClass]="balance.amount >= 0 ? 'positive-amount' : 'negative-amount'">{{balance.amount | money}}</span>
            </p>
        </ion-label>
    </div>
</ion-item>
