<ion-item (click)="openAccount()" [button]="canEditAccount" [detail]="canEditAccount">
    <div class="content">
        <ion-label>
            <h3>{{account.name}}</h3>
            <p>
                {{'group.overview.account.balanceAmount' | translate }}:
                <span *ngIf="group?.getAccountBalance(account.id); let balance"
                      [ngClass]="balance.amount >= 0 ? 'positive-amount' : 'negative-amount'">{{balance.amount | money}}</span>
            </p>
        </ion-label>
    </div>
</ion-item>
