<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button mode="ios" fill="none" [routerLink]="'/group/' + group?.id + '/preferences'" routerDirection="back">
                <fa-duotone-icon slot="icon-only" class="primary" fixedWidth [icon]="['fad', 'chevron-left']"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{account?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{account?.name}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-list-header lines="full">
            <ion-label>
                {{'group.overview.account.preferences' | translate}}
            </ion-label>
        </ion-list-header>
        <ion-item>
            <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'piggy-bank']"></fa-duotone-icon>
            <ion-input [(ngModel)]="newName" value="{{account?.name}}"></ion-input>
            <ion-button (click)="setName()"
                        [attr.disabled]="newName === account?.name || newName?.length < 2">{{'actions.edit' | translate}}</ion-button>
        </ion-item>
        <ion-item>
            <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'wallet']"></fa-duotone-icon>
            <ion-label>Saldo</ion-label>
            <span slot="end"
                  [ngClass]="account?.balance >= 0 ? 'positive-amount' : 'negative-amount'">{{account?.balanceString}}</span>
        </ion-item>

        <ion-button [disabled]="account?.balance === 0" expand="block" class="ion-margin" (click)="settleSharedAccount(account?.id)">
            {{account?.name}} verrekenen
        </ion-button>
    </ion-list>
</ion-content>
