<ion-item [ngClass]="padding === 'none' ? 'ion-no-padding' : ''" (click)="openInput()" class="form-input" lines="none">
    <ion-icon *ngIf="icon" name="{{icon}}" slot="start"></ion-icon>
    <span [ngClass]="amount === '0' ? 'form-input-grey' : ''">
    {{ amountString }}
  </span>
    <ion-input #dummyFacade (ionInput)="handleInput($event)" (keyup)="handleKeyUp($event)" id="dummyFacade"
               inputmode="numeric" name="dummyFacade"
               tabindex="{{tabIndex}}" type="number"></ion-input>
</ion-item>
