<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/group/{{groupId}}/settings"></ion-back-button>
        </ion-buttons>

        <ion-title>{{'group.settings.addProduct.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'group.settings.addProduct.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="form-content">
        <form [formGroup]="productForm" (ngSubmit)="addProduct()">
            <ion-item lines="none" class="form-input">
                <ion-icon name="bag-handle-outline"></ion-icon>
                <ion-input placeholder="{{'group.settings.addProduct.productName' | translate}}" autocapitalize="words"
                           formControlName="name"
                           clearInput type="text" enterkeyhint="next" inputmode="text"></ion-input>
            </ion-item>
            <span class="form-input-error" *ngIf="isSubmitted && form.name.errors?.required">
                {{'group.settings.addProduct.errors.name-required' | translate}}
            </span>
            <span class="form-input-error" *ngIf="isSubmitted && form.name.errors?.length">
                {{'group.settings.addProduct.errors.name-length' | translate}}
            </span>
            <span class="form-input-error" *ngIf="isSubmitted && form.name.errors?.conflict">
                {{'group.settings.addProduct.errors.name-conflict' | translate}}
            </span>

            <div class="m-t">
                <app-money-input [precision]="2" [amount]="''" (amountEntered)="amountChanged($event)"></app-money-input>
            </div>
            <span class="form-input-error" *ngIf="isSubmitted && form.price.errors?.required">
                {{'group.settings.addProduct.errors.price-required' | translate}}
            </span>
            <span class="form-input-error" *ngIf="isSubmitted && form.price.errors?.min">
                {{'group.settings.addProduct.errors.price-min' | translate}}
            </span>
            <span class="form-input-error" *ngIf="isSubmitted && form.price.errors?.max">
                {{'group.settings.addProduct.errors.price-max' | translate}}
            </span>

            <ion-button id="name-button" class="ion-margin-top" expand="block"
                        type="submit">
                <ion-label>{{'actions.submit' | translate}}</ion-label>
            </ion-button>
        </form>
    </div>
</ion-content>
