<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'bars']"></fa-duotone-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>{{house?.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{house?.name}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list *ngIf="house$ | async; let house">
        <ion-item-divider class="bottom-line"></ion-item-divider>
        <ion-item>
            <fa-duotone-icon slot="start" class="success" [icon]="['fad', 'plus-circle']"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.home.totalIn' | translate}}</h3>
            </ion-label>
            <span slot="end">{{house.totalIn | money}}</span>
        </ion-item>
        <ion-item lines="full">
            <fa-duotone-icon slot="start" class="danger" [icon]="['fad', 'minus-circle']"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.home.totalOut' | translate}}</h3>
            </ion-label>
            <span slot="end">{{house.totalOut | money}}</span>
        </ion-item>
    </ion-list>
</ion-content>
