<ion-item (click)="openAccount()" [button]="canEditAccount" [detail]="canEditAccount">
    <ion-avatar slot="start">
        <img *ngIf="account.photoUrl" alt="" src="{{account.photoUrl}}">
        <img *ngIf="!account.photoUrl" alt="" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg">
    </ion-avatar>
    <div class="content">
        <ion-label>
            <h3>{{account.name}}</h3>
            <p>
                Saldo:
                <span [ngClass]="account.balance >= 0 ? 'positive-amount' : 'negative-amount'">{{account.balanceString}}</span>
            </p>
        </ion-label>
        <ion-label color="medium">
        </ion-label>
    </div>
</ion-item>
