<ion-header>
    <ion-toolbar>
        <ion-title>{{'house.stock.add.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <fa-duotone-icon [icon]="['fad', 'times-circle']" class="primary" fixedWidth
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'house.stock.add.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div *ngIf="house" class="content">
        <p class="ion-text-center">{{'house.stock.add.description' | translate}}</p>
        <form (ngSubmit)="addStock()" [formGroup]="stockForm">
            <div class="input-field">
                <ion-item class="form-input" lines="none">
                    <ion-icon name="bag-handle-outline"></ion-icon>
                    <ion-select formControlName="product" interface="popover"
                                placeholder="{{'house.stock.add.selectProduct' | translate}}">
                        <ion-select-option *ngFor="let product of house.products" value="{{product.id}}">
                            {{product.name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <span *ngIf="isSubmitted && form.product.errors?.required" class="form-input-error">
                {{'house.stock.add.errors.product-required' | translate}}
            </span>

            <div class="input-field">
                <ion-label position="stacked">{{'house.stock.add.amount' | translate}}</ion-label>
                <ion-item class="form-input" lines="none">
                    <ion-icon name="add-circle-outline"></ion-icon>
                    <ion-input [tabIndex]="1" enterkeyhint="next"
                               formControlName="amount" inputmode="numeric"
                               placeholder="0" type="number"></ion-input>
                </ion-item>
            </div>
            <span *ngIf="isSubmitted && form.amount.errors?.required" class="form-input-error">
                {{'house.stock.add.errors.amount-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.amount.errors?.min" class="form-input-error">
                {{'house.stock.add.errors.amount-min' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.amount.errors?.min" class="form-input-error">
                {{'house.stock.add.errors.amount-max' | translate}}
            </span>

            <div class="input-field">
                <ion-label position="stacked">{{'house.stock.add.cost' | translate}}</ion-label>
                <app-money-input (amountEntered)="amountChanged($event)" [amount]="''" [precision]="2"
                                 icon="cash-outline" tabIndex="2"></app-money-input>
            </div>

            <span *ngIf="isSubmitted && form.cost.errors?.required" class="form-input-error">
                {{'house.stock.add.errors.cost-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.cost.errors?.min" class="form-input-error">
                {{'house.stock.add.errors.cost-min' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.cost.errors?.max" class="form-input-error">
                {{'house.stock.add.errors.cost-max' | translate}}
            </span>

            <div class="input-field">
                <ion-label position="stacked">{{'house.stock.add.paidByTitle' | translate}}</ion-label>
                <ion-item class="form-input" lines="none">
                    <ion-icon name="people-outline"></ion-icon>
                    <ion-select (ionChange)="updateSelectedName()" [interfaceOptions]="{header: paidByTitle}"
                                cancelText="{{'actions.cancel' | translate}}"
                                formControlName="paidBy"
                                multiple="false"
                                okText="{{'actions.ok' | translate}}"
                                placeholder="{{'house.stock.add.paidBy' | translate}}"
                                selectedText="{{selectedName}}">
                        <ion-select-option *ngFor="let account of house.accounts"
                                           value="{{account.id}}">
                            {{account.name}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </div>
            <span *ngIf="isSubmitted && form.paidBy.errors?.required" class="form-input-error">
                {{'house.stock.add.errors.paidBy-required' | translate}}
            </span>

            <span *ngIf="isSubmitted && form.paidBy.errors?.minLength" class="form-input-error">
                {{'house.stock.add.errors.paidBy-required' | translate}}
            </span>

            <ion-button [disabled]="stockForm.invalid" class="ion-margin-top" expand="block" id="name-button"
                        type="submit">
                <ion-label>{{'actions.add' | translate}}</ion-label>
            </ion-button>
        </form>
    </div>

</ion-content>
