ion-buttons {
  ion-button {
    --background-hover-opacity: 0.1;
  }
  ion-button:focus {
    outline: none;
  }
}

ion-fab {
  padding-bottom: 20px; /* Status bar height on iOS 10 */
  padding-bottom: constant(safe-area-inset-top); /* Status bar height on iOS 11.0 */
  padding-bottom: env(safe-area-inset-top); /* Status bar height on iOS 11+ */
}