ion-list-header {
  padding-top: .75rem;

  &.md {
    padding-top: 1.5rem;
    font-size: 1rem;
  }
}

ion-item {
  &.list-button {
    --min-height: 3.5rem;
  }

  &.no-min-height {
    --min-height: unset;
  }

  &.top-line {
    border-top: 1px solid var(--ion-color-light);
  }

  &.margin-top {
    margin-top: 2rem;
  }
}

ion-list.list-md {
  padding-top: 0;
  padding-bottom: 0;
}

.empty-container {
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  ion-img {
    max-width: 300px;
    margin: 0 4rem;
  }

  ion-label {
    margin: 2rem;
    text-align: center;
  }
}

