<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-toggle>
                <ion-button>
                    <fa-duotone-icon [icon]="['fad', 'bars']" class="primary" [fixedWidth]="true" slot="start"></fa-duotone-icon>
                </ion-button>
            </ion-menu-toggle>
        </ion-buttons>
        <ion-title>{{'dashboard.welcome' | translate:{name: (user$ | async)?.displayName } }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openInfo()">
                <fa-duotone-icon [icon]="['fad', 'info-circle']" class="primary" [fixedWidth]="true"
                                 slot="start"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'dashboard.welcome' | translate:{name: (user$ | async)?.displayName } }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-refresher (ionRefresh)="fakePull($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item (click)="promptManualHouseJoin()" button class="list-button" detail="false" lines="full">
            <fa-duotone-icon [icon]="['fad', 'ticket']" class="primary" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'dashboard.manualHouseJoin' | translate}}</h3>
                <p class="small ion-text-wrap">
                    {{'dashboard.manualHouseJoinDesc' | translate}}
                </p>
            </ion-label>
        </ion-item>

        <ion-list-header lines="full">
            <ion-label>{{'dashboard.houses' | translate}}</ion-label>
        </ion-list-header>

        <ng-template [ngIf]="houses && !loading">
            <div *ngIf="houses.length === 0" class="empty-container no-bg">
                <ion-img src="assets/svg/no-houses.svg"></ion-img>
                <ion-label>
                    <p>
                        {{'dashboard.emptyHouses' | translate}} <span style="color: black">😢</span>
                    </p>
                </ion-label>
            </div>

            <ion-item (click)="openHouse(house)" *ngFor="let house of houses" button class="house-item">
                <ion-label>
                    <h3>{{house.name}}</h3>
                    <p>{{'dashboard.yourBalance' | translate}} <span
                            *ngIf="houseAccounts[house.id].balance; let balance"
                            [ngClass]="balance.amount >= 0 ? 'positive-amount' : 'negative-amount'">{{balance.amount | money}}</span>
                    </p>
                </ion-label>
            </ion-item>
        </ng-template>

        <ng-template [ngIf]="loading">
            <ion-item class="house-item" detail="true">
                <ion-label>
                    <h3>
                        <ion-skeleton-text animated style="width: 35%"></ion-skeleton-text>
                    </h3>
                    <p>
                        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    </p>
                </ion-label>
            </ion-item>
        </ng-template>

        <ion-item *ngIf="!houses && !loading">
            <ion-label>
                <p class="small ion-text-wrap">
                    {{'errors.no-connection' | translate}}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab [edge]="iOS" horizontal="center" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="addHouse()">
            <fa-icon [icon]="['far', 'plus']"></fa-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
