.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.group-item {
  --min-height: 4rem;
}

ion-fab {
  --margin-bottom: env(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom); /* fix notch ios*/
}
