ion-badge {
  padding: .5rem;
  font-size: .9rem;
  min-width: 3rem;
  margin-right: 1rem;

  --background: rgba(var(--ion-color-primary-rgb), .75);

  &.danger {
    --background: rgba(var(--ion-color-danger-rgb), .75);
    --color: var(--ion-color-light);
  }
}
