<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="transactions">
            <fa-duotone-icon [icon]="['fad', 'receipt']" class="tab-icon"></fa-duotone-icon>
            <ion-label>{{'house.transactions.title' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="deals">
            <fa-duotone-icon [icon]="['fad', 'gifts']" class="tab-icon"></fa-duotone-icon>
            <ion-label>{{'house.deals.title' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button disabled="true">
        </ion-tab-button>

        <ion-tab-button tab="stock">
            <fa-duotone-icon [icon]="['fad', 'inventory']" class="tab-icon"></fa-duotone-icon>
            <ion-label>{{'house.stock.tab' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="preferences">
            <fa-duotone-icon [icon]="['fad', 'cogs']" class="tab-icon"></fa-duotone-icon>
            <ion-label>{{'house.overview.title' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

    <ion-fab [edge]="iOS" horizontal="center" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="addTransaction()" [disabled]="!((house$ | async)?.products.length > 0)">
            <fa-icon [icon]="['far', 'plus']"></fa-icon>
        </ion-fab-button>
    </ion-fab>
</ion-tabs>

