<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button *ngIf="!editing" defaultHref="/group/{{groupId}}"></ion-back-button>
            <ion-button *ngIf="editing" (click)="toggleEditing()">
                <ion-label>{{'actions.cancel' | translate}}</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button *ngIf="!editing" (click)="toggleEditing()">
                <ion-label>{{'actions.edit' | translate}}</ion-label>
            </ion-button>
            <ion-button *ngIf="editing" (click)="editTransaction()">
                <ion-label>{{'actions.save' | translate}}</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="createdBy" *ngIf="transaction?.createdBy as account">
        <ion-avatar>
            <img *ngIf="account.photoUrl" src="{{account.photoUrl}}" alt="">
            <img *ngIf="!account.photoUrl" src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg" alt="">
        </ion-avatar>
        <ion-label>
            <h1>{{account.name}}</h1>
            <p>Op {{transaction.createdAt.toDate().toLocaleString()}}</p>
        </ion-label>
    </div>
    <ion-list *ngIf="transaction?.items">
        <ion-item *ngFor="let item of transaction.items; index as i">
            <ion-label>
                <h2>{{item.amount}} {{item.product.name}} voor {{getPriceString(item.product.price * item.amount)}}</h2>
                <p>
                    Gestreept op {{item.account.name}}
                </p>
            </ion-label>
            <ion-fab-button *ngIf="editing" (click)="removeItem(item)" [attr.disabled]="item.amount === 0"
                            color="danger" size="small">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="editing" color="success" size="small" [attr.disabled]="item.amount >= itemsAmount[i]"
                            (click)="addItem(item)">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-item>
    </ion-list>

    <ion-fab *ngIf="editing" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger" (click)="deleteTransaction()">
            <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
