<ion-header>
    <ion-toolbar>
        <ion-title>{{'group.overview.addProduct.title' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'group.overview.addProduct.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div class="form-content">
        <form (ngSubmit)="addProduct()" [formGroup]="productForm">
            <ion-item class="form-input" lines="none">
                <ion-icon name="bag-handle-outline"></ion-icon>
                <ion-input autocapitalize="words" clearInput
                           enterkeyhint="next"
                           formControlName="name" inputmode="text" placeholder="{{'group.overview.addProduct.productName' | translate}}" type="text"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.name.errors?.required" class="form-input-error">
                {{'group.overview.addProduct.errors.name-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.name.errors?.length" class="form-input-error">
                {{'group.overview.addProduct.errors.name-length' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.name.errors?.conflict" class="form-input-error">
                {{'group.overview.addProduct.errors.name-conflict' | translate}}
            </span>

            <div class="m-t">
                <app-money-input (amountEntered)="amountChanged($event)" [amount]="''"
                                 [precision]="2"></app-money-input>
            </div>

            <span *ngIf="isSubmitted && form.price.errors?.required" class="form-input-error">
                {{'group.overview.addProduct.errors.price-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.price.errors?.min" class="form-input-error">
                {{'group.overview.addProduct.errors.price-min' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.price.errors?.max" class="form-input-error">
                {{'group.overview.addProduct.errors.price-max' | translate}}
            </span>

            <ion-button class="ion-margin-top" expand="block" id="name-button"
                        type="submit">
                <ion-label>{{'actions.submit' | translate}}</ion-label>
            </ion-button>
        </form>
    </div>
</ion-content>
