<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [defaultHref]="'/group/' + groupId"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'group.settings.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'group.settings.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ng-container *ngIf="group$ | async; let group">
        <ion-list>
            <ion-list-header lines="full">
                <ion-label>{{'group.settings.accounts' | translate}}</ion-label>
                <ion-button (click)="inviteAccounts()">{{'actions.invite' | translate}}</ion-button>
            </ion-list-header>

            <ion-item *ngFor="let account of group.accounts">
                <ion-label>{{account.name}}</ion-label>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-list-header lines="full">
                <ion-label>{{'group.settings.sharedAccounts' | translate}}</ion-label>
                <ion-button>{{'actions.new' | translate}}</ion-button>
            </ion-list-header>

            <ion-item *ngIf="group.sharedAccounts.length === 0" lines="none">
                <ion-label>
                    <p>
                        {{'group.settings.emptySharedAccounts' | translate}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item *ngFor="let sharedAccounts of group.sharedAccounts">
                <ion-label>{{sharedAccounts.name}}</ion-label>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-list-header lines="full">
                <ion-label>{{'group.settings.products' | translate}}</ion-label>
                <ion-button (click)="addProduct()">{{'actions.new' | translate}}</ion-button>
            </ion-list-header>

            <ion-item *ngIf="group.products.length === 0" lines="none">
                <ion-label>
                    <p>
                        {{'group.settings.emptyProducts' | translate}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item-sliding *ngFor="let product of group.products">
                <ion-item >
                    <ion-label>{{product.name}}</ion-label>
                    <ion-chip color="success" style="min-width: 5rem">
                        <ion-icon name="pricetag-outline"></ion-icon>
                        <ion-label>€ {{(product.price / 100).toLocaleString('nl-NL', {minimumFractionDigits: 2, maximumFractionDigits: 2})}}</ion-label>
                    </ion-chip>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="removeProduct(product)" expandable>{{'actions.delete' | translate}}</ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
    </ng-container>
</ion-content>
