form {
  ion-button {
    margin-top: 1rem !important;
  }

  ion-input {
    font-size: 14px;
  }
}

.register-content {
  margin: 0 auto;
  padding: 2rem;
  max-width: 30rem;

  ion-button {
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .termsAndPrivacy {
    text-align: center;
    font-size: 0.75rem;
    color: var(--ion-color-medium);
  }
}
