<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/login'" fill="none" mode="ios" routerDirection="back">
                <fa-duotone-icon [icon]="['fad', 'chevron-left']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'actions.register' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'actions.register' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="register-content">
        <form (ngSubmit)="register()" [formGroup]="registerForm">

            <ion-item class="form-input" lines="none">
                <ion-icon name="person-outline"></ion-icon>
                <ion-input [tabIndex]="0" autocapitalize="words" autocomplete="given-name" clearInput
                           enterkeyhint="next" formControlName="name"
                           inputmode="text" placeholder="{{'login.name' | translate}}" type="text"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.name.errors?.required" class="form-input-error">
                {{'login.errors.name-required' | translate}}
            </span>

            <ion-item class="form-input ion-margin-top" lines="none">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input [tabIndex]="1" autocomplete="email" clearInput enterkeyhint="next" formControlName="email"
                           inputmode="email" placeholder="{{'login.email' | translate}}" type="email"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.email.errors?.required" class="form-input-error">
                {{'login.errors.email-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.email.errors?.invalid" class="form-input-error">
                {{'login.errors.invalid-email' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.email.errors?.inUse" class="form-input-error">
                {{'login.errors.email-already-in-use' | translate}}
            </span>

            <ion-item class="form-input ion-margin-top" lines="none">
                <ion-icon name="key-outline"></ion-icon>
                <ion-input [tabIndex]="2" autocomplete="current-password" clearInput enterkeyhint="go"
                           formControlName="password" placeholder="{{'login.password' | translate}}"
                           type="password"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.password.errors?.required" class="form-input-error">
                {{'login.errors.password-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.password.errors?.weak" class="form-input-error">
                {{'login.errors.weak-password' | translate}}
            </span>

            <ion-button [tabIndex]="3" expand="block" type="submit">
                <ion-label>{{'actions.register' | translate}}</ion-label>
            </ion-button>
        </form>
    </div>
</ion-content>
