<ion-header>
    <ion-toolbar>
        <ion-title>{{'group.overview.settle.group.settle' | translate:{name: group?.name} }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <fa-duotone-icon slot="icon-only" class="primary" fixedWidth
                                 [icon]="['fad', 'times-circle']"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title
                    size="large">{{'group.overview.settle.group.settle' | translate:{name: group?.name} }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item lines="none">
            <ion-label>
                <p class="description ion-text-wrap">
                    {{'group.overview.settle.group.description' | translate}}
                </p>
            </ion-label>
        </ion-item>
        <ion-list-header lines="full">
            <ion-label>
                {{'group.overview.settle.group.checkStock' | translate}}
                <p class="description ion-text-wrap">
                    {{'group.overview.settle.group.stockDescription' | translate}}
                </p>
            </ion-label>
        </ion-list-header>

        <app-product-stock-item *ngFor="let product of group?.products" [product]="product"></app-product-stock-item>

        <ion-item class="list-button" lines="full" [disabled]="!(group?.products.length > 0)" (click)="addStock()"
                  button detail="false">
            <fa-duotone-icon slot="start" class="primary large" fixedWidth [icon]="['fad', 'plus-circle']"></fa-duotone-icon>
            <ion-label>
                <h3>{{'group.stock.add.title' | translate}}</h3>
            </ion-label>
        </ion-item>

        <ion-list-header lines="full">
            <ion-label>
                {{'group.overview.settle.group.settleSharedAccounts' | translate}}
                <p class="description ion-text-wrap">
                    {{'group.overview.settle.group.settleSharedDescription' | translate}}
                </p>
            </ion-label>
        </ion-list-header>

        <ion-item class="list-button" lines="full" *ngIf="group?.settleSharedAccounts; let accounts" detail="false">
            <fa-duotone-icon slot="start" class="large" [ngClass]="accounts.length > 0 ? 'danger' : 'success'" fixedWidth
                             [icon]="['fad', accounts.length > 0 ? 'times-circle' : 'check-circle']"></fa-duotone-icon>
            <ion-label>
                <h4 *ngIf="accounts.length === 0">{{'group.overview.settle.group.sharedCompleted' | translate }}</h4>
                <h4 *ngIf="accounts.length > 0">{{'group.overview.settle.group.sharedIncomplete' | translate }}</h4>
            </ion-label>
        </ion-item>

        <app-shared-account-item *ngFor="let account of group?.settleSharedAccounts"
                                 (clicked)="settleSharedAccount(account)"
                                 [account]="account"></app-shared-account-item>


        <ion-list-header lines="none">
            <ion-label>
                {{'group.overview.settle.group.settleUsers' | translate}}
                <p class="description ion-text-wrap">
                    {{'group.overview.settle.group.settleUsersDescription' | translate}}
                </p>
            </ion-label>
        </ion-list-header>

        <ion-button expand="block" (click)="settleGroup()">
            {{'group.overview.settle.group.toOverview' | translate}}
        </ion-button>
    </ion-list>

</ion-content>
