<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/login'" fill="none" mode="ios"
                        routerDirection="back">
                <fa-duotone-icon [icon]="['fad', 'chevron-left']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'login.reset-password.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'login.reset-password.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="reset-content">
        <form [hidden]="requestFormSuccess" (ngSubmit)="submitResetForm()" [formGroup]="emailFormGroup">
            <ion-item class="no-bg" lines="none">
                <ion-label>
                    <p class="description ion-text-wrap">
                        {{'login.reset-password.description' | translate}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item [disabled]="requestFormSuccess" class="form-input" lines="none">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input [tabIndex]="0" autocomplete="email" clearInput enterkeyhint="done" formControlName="email"
                           inputmode="email" placeholder="{{'login.reset-password.email' | translate}}"
                           type="email"></ion-input>
            </ion-item>
            <span *ngIf="resetRequestFormSubmitted && emailForm.email.errors?.required" class="form-input-error">
                {{'login.reset-password.errors.email-required' | translate}}
            </span>
            <span *ngIf="resetRequestFormSubmitted && emailForm.email.errors?.invalid" class="form-input-error">
                {{'login.reset-password.errors.invalid-email' | translate}}
            </span>
            <span *ngIf="resetRequestFormSubmitted && emailForm.email.errors?.unknown" class="form-input-error">
                {{'login.reset-password.errors.user-not-found' | translate}}
            </span>

            <ion-button [disabled]="resetRequestFormSubmitted"
                        class="ion-margin-top" expand="block" id="name-button"
                        type="submit" [tabIndex]="1">
                <ion-label *ngIf="!resetRequestFormSubmitted || ( !isLoadingRequest && !requestFormSuccess)">{{'login.reset-password.request-button' | translate}}</ion-label>
                <ion-spinner color="light" *ngIf="resetRequestFormSubmitted && isLoadingRequest"></ion-spinner>
                <ion-icon *ngIf="requestFormSuccess && !isLoadingRequest" name="checkmark-outline"></ion-icon>
            </ion-button>
        </form>

        <form [hidden]="!requestFormSuccess" (ngSubmit)="resetPassword()" [formGroup]="passwordResetFormGroup">
            <ion-item class="no-bg" lines="none">
                <ion-label>
                    <p class="description ion-text-wrap">
                        {{'login.reset-password.reset-description' | translate}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item [disabled]="!canResetPassword" class="form-input ion-margin-top" lines="none">
                <ion-icon name="key-outline"></ion-icon>
                <ion-input [tabIndex]="2" clearInput enterkeyhint="next"
                           formControlName="password" placeholder="{{'login.reset-password.password' | translate}}"
                           type="password"></ion-input>
            </ion-item>
            <span *ngIf="passwordResetFormSubmitted && passwordResetForm.password.errors?.required"
                  class="form-input-error">
                {{'login.reset-password.errors.password-required' | translate}}
            </span>
            <span *ngIf="passwordResetFormSubmitted && passwordResetForm.password.errors?.weak"
                  class="form-input-error">
                {{'login.reset-password.errors.password-weak' | translate}}
            </span>


            <ion-item [disabled]="!canResetPassword" class="form-input ion-margin-top" lines="none">
                <ion-icon name="key-outline"></ion-icon>
                <ion-input [tabIndex]="3" clearInput enterkeyhint="done"
                           formControlName="passwordAgain"
                           placeholder="{{'login.reset-password.passwordAgain' | translate}}"
                           type="password"></ion-input>
            </ion-item>
            <span *ngIf="passwordResetFormSubmitted && passwordResetForm.passwordAgain.errors?.required"
                  class="form-input-error">
                {{'login.reset-password.errors.password-required' | translate}}
            </span>
            <span *ngIf="passwordResetFormSubmitted && passwordResetForm.passwordAgain.errors?.different"
                  class="form-input-error">
                {{'login.reset-password.errors.different-password' | translate}}
            </span>

            <ion-button [disabled]="!canResetPassword" [tabIndex]="4" expand="block" type="submit">
                <ion-label>{{'login.reset-password.submit-button' | translate}}</ion-label>
            </ion-button>
        </form>
    </div>
</ion-content>
