<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button [routerLink]="'/house/' + houseId + '/preferences'" fill="none" mode="ios"
                        routerDirection="back">
                <fa-duotone-icon [icon]="['fad', 'chevron-left']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{'house.overview.settle.house.title' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'house.overview.settle.house.title' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-item *ngIf="isAdmin" (click)="settleHouse()" [disabled]="!canSettle()" button class="list-button"
                  detail="false"
                  lines="full">
            <fa-duotone-icon [icon]="['fad', 'calculator-alt']" class="primary large" [fixedWidth]="true"
                             slot="start"></fa-duotone-icon>
            <ion-label>
                <h3>{{'house.overview.settle.house.settle' | translate:{name: house?.name} }}</h3>
            </ion-label>
        </ion-item>

        <ion-list-header lines="full">
            <ion-label>
                {{'house.overview.settle.house.history' | translate }}
            </ion-label>
        </ion-list-header>

        <ion-item *ngIf="!settlements || settlements?.length === 0" class="no-min-height no-bg" lines="none">
            <ion-label>
                <p>
                    {{'house.overview.settle.house.emptyHistory' | translate}}
                </p>
            </ion-label>
        </ion-item>

        <div *ngFor="let settlement of settlements" [ngSwitch]="settlement.type">
            <app-house-settlement-item *ngSwitchCase="'house'"
                                       [settlement]="getHouseSettlement(settlement)">
            </app-house-settlement-item>
            <app-shared-account-settlement-item *ngSwitchCase="'sharedAccount'"
                                                [settlement]="getSharedAccountSettlement(settlement)">
            </app-shared-account-settlement-item>
            <app-user-account-settlement-item *ngSwitchCase="'userAccount'"
                                                [settlement]="getUserAccountSettlement(settlement)">
            </app-user-account-settlement-item>
        </div>
    </ion-list>
</ion-content>
