<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="reset()">
                <ion-label>Reset</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-title>{{house?.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <fa-duotone-icon (click)="openInfo()" [icon]="['fad', 'info-circle']" class="primary"
                                 [fixedWidth]="true"
                                 slot="start"></fa-duotone-icon>
            </ion-button>
            <ion-button (click)="dismiss()">
                <fa-duotone-icon [icon]="['fad', 'times-circle']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="house">
    <ion-item lines="full">
        <ion-label>
            <h3>{{'house.transactions.currentProduct' | translate}}</h3>
        </ion-label>
        <ion-select (ionChange)="selectProduct($event)" interface="popover" value="{{house.products[0].id}}">
            <ion-select-option *ngFor="let product of house.products" value="{{product.id}}">
                {{product.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-list>
        <ion-list-header lines="full">
            <ion-label>{{'house.overview.accounts.title' | translate}}</ion-label>
            <ion-button (click)="addOneForAll()">{{'house.transactions.allPlusOne' | translate}}</ion-button>
        </ion-list-header>

        <ion-item *ngFor="let account of house.accounts">
            <ion-avatar slot="start">
                <img *ngIf="account.photoUrl" alt="" src="{{account.photoUrl}}">
                <img *ngIf="!account.photoUrl" alt="" src="assets/svg/avatar.svg">
            </ion-avatar>
            <ion-label>
                <h3>{{account.name}}</h3>
            </ion-label>
            <ion-chip
                    *ngIf="transactions[account.id] && transactions[account.id][currentProduct.id] && transactions[account.id][currentProduct.id].amount > 0">
                <ion-label>{{transactions[account.id][currentProduct.id].amount}}</ion-label>
            </ion-chip>
            <ion-fab-button (click)="removeItem(account)" [attr.disabled]="!transactions[account.id] || !transactions[account.id][currentProduct.id]
            || transactions[account.id][currentProduct.id].amount === 0" color="danger" size="small">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addItem(account)" color="success" size="small">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-item>

        <ng-container *ngIf="house.sharedAccounts.length > 0">
            <ion-list-header lines="full">
                <ion-label>{{'house.overview.sharedAccounts' | translate}}</ion-label>
            </ion-list-header>

            <ion-item *ngFor="let account of house.sharedAccounts">
                <ion-label>
                    <h3>{{account.name}}</h3>
                </ion-label>
                <ion-chip
                        *ngIf="transactions[account.id] && transactions[account.id][currentProduct.id] && transactions[account.id][currentProduct.id].amount > 0">
                    <ion-label>{{transactions[account.id][currentProduct.id].amount}}</ion-label>
                </ion-chip>
                <ion-fab-button (click)="removeItem(account)" [attr.disabled]="!transactions[account.id] || !transactions[account.id][currentProduct.id]
            || transactions[account.id][currentProduct.id].amount === 0" color="danger" size="small">
                    <ion-icon name="remove-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="addItem(account)" color="success" size="small">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-fab horizontal="center" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="checkout()" color="success" disabled="{{transactionCount === 0}}">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
