<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="reset()">
                <ion-label>Reset</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-title>{{house?.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <fa-duotone-icon (click)="openInfo()" [icon]="['fad', 'info-circle']" class="primary"
                                 [fixedWidth]="true"
                                 slot="start"></fa-duotone-icon>
            </ion-button>
            <ion-button (click)="dismiss()">
                <fa-duotone-icon [icon]="['fad', 'times-circle']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="house">
    <ion-content id="productsContent" forceOverscroll="true" scrollY="false" scrollX="true">
        <div class="products-wrapper">
            <div class="horizontal-spacing left"></div>
            <div class="product-card"
                 *ngFor="let product of house.products"
                 [ngClass]="currentProduct.id === product.id ? 'active' : ''"
                 (click)="selectProduct(product)">
                <span class="name">{{product.name}}</span>
                <span class="amount">{{productTotals[product.id]}}</span>
            </div>
            <div class="horizontal-spacing right"></div>
        </div>
    </ion-content>

    <ion-list>
        <ion-list-header class="reduced-top-spacing" lines="full">
            <ion-label>{{'house.overview.accounts.title' | translate}}</ion-label>
            <ion-button (click)="addOneForAll()">{{'house.transactions.allPlusOne' | translate}}</ion-button>
        </ion-list-header>

        <ion-item class="account-item" *ngFor="let account of house.accounts">
            <app-account-avatar [account]="account" size="small" slot="start"></app-account-avatar>
            <ion-label class="account-name">
                <h3>{{account.name}}</h3>
            </ion-label>
            <app-quantity-input [actions]="this.accountQuantityInput[account.id]"
                                (valueChange)="onValueChange(account, $event)"></app-quantity-input>
        </ion-item>

        <ng-container *ngIf="house.sharedAccounts.length > 0">
            <ion-list-header lines="full">
                <ion-label>{{'house.overview.sharedAccounts' | translate}}</ion-label>
            </ion-list-header>

            <ion-item class="account-item" *ngFor="let account of house.sharedAccounts">
                <app-account-avatar [account]="account" size="small" slot="start"></app-account-avatar>
                <ion-label class="account-name">
                    <h3>{{account.name}}</h3>
                </ion-label>
                <app-quantity-input [actions]="this.accountQuantityInput[account.id]"
                                    (valueChange)="onValueChange(account, $event)"></app-quantity-input>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-fab horizontal="center" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="checkout()" color="success" disabled="{{transactionCount === 0}}">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
