:host {
  height: 100vh;
}

.padding-top {
  height: calc(3rem + env(safe-area-inset-top));
}

ion-item {
  ion-label {
    font-size: 16px;
  }
}

ion-list-header {
  ion-label {
    font-size: 16px;
    color: rgba(var(--ion-color-dark-rgb), .75)
  }
}

.versionStatement {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 3rem;
  text-align: center;
  color: var(--ion-color-medium);
  font-size: 0.9rem;
}
