<ion-header>
    <ion-toolbar>
        <ion-title>{{'appName' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>

        <ion-menu-toggle [autoHide]="false">
            <ion-item routerLink="dashboard" routerDirection="root">
                <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'list']"></fa-duotone-icon>
                <ion-label>
                    {{'dashboard.title' | translate}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle [autoHide]="false">
            <ion-item routerLink="profile" routerDirection="root">
                <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'user-cog']"></fa-duotone-icon>
                <ion-label>
                    {{'dashboard.profile' | translate}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>

        <ion-item lines="full">
            <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'adjust']"></fa-duotone-icon>
            <ion-label>{{'dashboard.toggleDarkMode' | translate}}</ion-label>
            <ion-toggle (ionChange)="onClick($event)" checked="{{isDarkMode}}" slot="end"></ion-toggle>
        </ion-item>

        <ng-container *ngIf="(groups$ | async); let groups">
            <ion-list-header class="ion-margin-top" *ngIf="groups.length > 0" lines="full">
                {{'dashboard.groups' | translate}}
            </ion-list-header>

            <ion-menu-toggle [autoHide]="false">
                <ion-item *ngFor="let group of groups" button routerDirection="root"
                          routerLink="/group/{{group.id}}/home">
                    <ion-label>{{group.name}}</ion-label>
                    <fa-icon (click)="toggleFavorite($event, group.id)" slot="end" class="primary"
                             [ngClass]="this.favorite === group.id ? 'warning' : 'medium'" fixedWidth
                             [icon]="this.favorite === group.id ? ['fas', 'star'] : ['fal', 'star']"></fa-icon>
                </ion-item>
            </ion-menu-toggle>
        </ng-container>

    </ion-list>
</ion-content>
