<ion-header>
    <ion-toolbar>
        <ion-title>{{'appName' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider class="bottom-line"></ion-item-divider>
        <ion-menu-toggle [autoHide]="false">
            <ion-item routerLink="dashboard" routerDirection="root" lines="full">
                <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'list']"></fa-duotone-icon>
                <ion-label>
                    {{'dashboard.title' | translate}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>

        <ng-container *ngIf="(houses$ | async); let houses">
            <ion-list-header *ngIf="houses.length > 0" lines="full">
                <ion-label>
                    {{'dashboard.houses' | translate}}
                </ion-label>
            </ion-list-header>

            <ion-menu-toggle [autoHide]="false">
                <ion-item *ngFor="let house of houses" button routerDirection="root"
                          routerLink="/house/{{house.id}}/home">
                    <ion-label>{{house.name}}</ion-label>
                    <fa-icon (click)="toggleFavorite($event, house.id)" slot="end" class="primary"
                             [ngClass]="this.favorite === house.id ? 'warning' : 'medium half-opacity'" fixedWidth
                             [icon]="this.favorite === house.id ? ['fas', 'star'] : ['fal', 'star']"></fa-icon>
                </ion-item>
            </ion-menu-toggle>
        </ng-container>

        <ion-list-header lines="full">
            <ion-label>
                {{'side-menu.settings' | translate}}
            </ion-label>
        </ion-list-header>

        <ion-menu-toggle [autoHide]="false">
            <ion-item routerLink="profile" routerDirection="root" lines="full">
                <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'user-cog']"></fa-duotone-icon>
                <ion-label>
                    {{'dashboard.profile' | translate}}
                </ion-label>
            </ion-item>
        </ion-menu-toggle>

        <ion-item lines="full">
            <fa-duotone-icon slot="start" class="primary" fixedWidth [icon]="['fad', 'adjust']"></fa-duotone-icon>
            <ion-label>{{'dashboard.toggleDarkMode' | translate}}</ion-label>
            <ion-toggle (ionChange)="onClick($event)" checked="{{isDarkMode}}" slot="end"></ion-toggle>
        </ion-item>

        <ion-item-divider class="bottom-line"></ion-item-divider>

        <ion-item (click)="logOut()" lines="full">
            <fa-duotone-icon slot="start" class="danger" fixedWidth [icon]="['fad', 'sign-out']"></fa-duotone-icon>
            <ion-label>
                {{'actions.logout' | translate}}
            </ion-label>
        </ion-item>

    </ion-list>

    <span class="versionStatement">{{'version' | translate:{version: appVersion} }}</span>
</ion-content>


