<ion-header>
    <ion-toolbar>
        <ion-title>{{titleId| translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <fa-duotone-icon [icon]="['fad', 'times-circle']" class="primary" [fixedWidth]="true"
                                 slot="icon-only"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{titleId | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div [innerHTML]="contentHTML" id="content">
    </div>

</ion-content>
