<ion-item (click)="editProduct()" button>
    <ion-label [ngClass]="product.stock >= 0 ? '' : 'danger'" class="amount" slot="start">
        <h3 style="font-size: 12px; text-align: end"><strong>{{product.stock}}</strong></h3>
    </ion-label>
    <ion-label>
        <h3>
            {{product.name}}
        </h3>
    </ion-label>
    <ion-chip *ngIf="product.price > 0" color="success" style="min-width: 5rem; font-size: .8rem">
        <ion-icon name="pricetag-outline"></ion-icon>
        <ion-label>{{product.price | money}}</ion-label>
    </ion-chip>
</ion-item>
