<ion-header>
    <ion-toolbar>
        <ion-title>{{'actions.login' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{'actions.login' | translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="login-content">
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <ion-item class="form-input" lines="none">
                <ion-icon name="mail-outline"></ion-icon>
                <ion-input [tabIndex]="0" autocomplete="email" clearInput enterkeyhint="next" formControlName="email"
                           inputmode="email" placeholder="{{'login.email' | translate}}" type="email"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.email.errors?.required" class="form-input-error">
                {{'login.errors.email-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.email.errors?.invalid" class="form-input-error">
                {{'login.errors.invalid-email' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.email.errors?.unknown" class="form-input-error">
                {{'login.errors.user-not-found' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.email.errors?.blocked" class="form-input-error">
                {{'login.errors.user-disabled' | translate}}
            </span>

            <ion-item class="form-input ion-margin-top" lines="none">
                <ion-icon name="key-outline"></ion-icon>
                <ion-input [tabIndex]="1" autocomplete="current-password" clearInput enterkeyhint="go"
                           formControlName="password" placeholder="{{'login.password' | translate}}"
                           type="password"></ion-input>
            </ion-item>
            <span *ngIf="isSubmitted && form.password.errors?.required" class="form-input-error">
                {{'login.errors.password-required' | translate}}
            </span>
            <span *ngIf="isSubmitted && form.password.errors?.wrong" class="form-input-error">
                {{'login.errors.wrong-password' | translate}}
            </span>

            <ion-button [tabIndex]="2" expand="block" type="submit">
                <ion-label>{{'actions.login' | translate}}</ion-label>
            </ion-button>
        </form>

        <div *ngIf="isIos" class="horizontal-or">
            <hr>
            <span>{{'login.or' | translate}}</span>
            <hr>
        </div>

        <!--        <ion-button (click)="loginWithGoogle()" class="google-login" color="dark" expand="block" fill="outline">-->
        <!--            <ion-icon slot="start" src="assets/svg/google-logo.svg"></ion-icon>-->
        <!--            {{'login.loginWithGoogle' | translate}}-->
        <!--        </ion-button>-->

        <ion-button (click)="loginWithApple()" *ngIf="isIos" class="apple-login" color="dark" expand="block">
            <ion-icon name="logo-apple" slot="start"></ion-icon>
            {{'login.loginWithApple' | translate}}
        </ion-button>
    </div>

    <div class="register-container">
        <span>{{'login.registerQuestion' | translate}}</span>
        <ion-button fill="none" routerLink="/register">
            <ion-label>{{'login.registerNow' | translate}}</ion-label>
        </ion-button>
    </div>

</ion-content>
