<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="reset()">
                <ion-label>Reset</ion-label>
            </ion-button>
        </ion-buttons>
        <ion-title>{{group?.name}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <fa-duotone-icon slot="icon-only" class="primary" fixedWidth [icon]="['fad', 'times-circle']"></fa-duotone-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="group">
    <ion-item lines="full">
        <ion-label>{{'group.transactions.currentProduct' | translate}}</ion-label>
        <ion-select (ionChange)="selectProduct($event)" interface="popover" value="{{group.products[0].id}}">
            <ion-select-option *ngFor="let product of group.products" value="{{product.id}}">
                {{product.name}}
            </ion-select-option>
        </ion-select>
    </ion-item>

    <ion-list>
        <ion-list-header lines="full">
            <ion-label>{{'group.overview.accounts.title' | translate}}</ion-label>
            <ion-button (click)="addOneForAll()">{{'group.transactions.allPlusOne' | translate}}</ion-button>
        </ion-list-header>

        <ion-item *ngFor="let account of group.accounts">
            <ion-avatar slot="start">
                <img *ngIf="account.photoUrl" alt="" src="{{account.photoUrl}}">
                <img *ngIf="!account.photoUrl" alt="" src="assets/svg/avatar.svg">
            </ion-avatar>
            <ion-label>{{account.name}}</ion-label>
            <ion-chip
                    *ngIf="transactions[account.id] && transactions[account.id][currentProduct.id] && transactions[account.id][currentProduct.id].amount > 0">
                <ion-label>{{transactions[account.id][currentProduct.id].amount}}</ion-label>
            </ion-chip>
            <ion-fab-button (click)="removeItem(account)" [attr.disabled]="!transactions[account.id] || !transactions[account.id][currentProduct.id]
            || transactions[account.id][currentProduct.id].amount === 0" color="danger" size="small">
                <ion-icon name="remove-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="addItem(account)" color="success" size="small">
                <ion-icon name="add-outline"></ion-icon>
            </ion-fab-button>
        </ion-item>

        <ng-container *ngIf="group.sharedAccounts.length > 0">
            <ion-list-header lines="full">
                <ion-label>{{'group.overview.sharedAccounts' | translate}}</ion-label>
            </ion-list-header>

            <ion-item *ngFor="let account of group.sharedAccounts">
                <ion-label>{{account.name}}</ion-label>
                <ion-chip
                        *ngIf="transactions[account.id] && transactions[account.id][currentProduct.id] && transactions[account.id][currentProduct.id].amount > 0">
                    <ion-label>{{transactions[account.id][currentProduct.id].amount}}</ion-label>
                </ion-chip>
                <ion-fab-button (click)="removeItem(account)" [attr.disabled]="!transactions[account.id] || !transactions[account.id][currentProduct.id]
            || transactions[account.id][currentProduct.id].amount === 0" color="danger" size="small">
                    <ion-icon name="remove-outline"></ion-icon>
                </ion-fab-button>
                <ion-fab-button (click)="addItem(account)" color="success" size="small">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-fab-button>
            </ion-item>
        </ng-container>
    </ion-list>

    <ion-fab horizontal="center" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="checkout()" color="success" disabled="{{transactionCount === 0}}">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
