.form-content {
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;

  .m-t {
    margin-top: 1rem;
  }
}

ion-item {
  ion-input {
    font-size: 14px;
  }
}

.bold-text {
  ion-col {
    font-weight: bold;
  }
}

app-money-input {
  ion-item::part(native) {
    padding: 0;
    padding-inline: 0;
  }
}

ion-grid {
  font-size: 12px;
  padding: 0;

  ion-row {
    padding-left: 20px;
    padding-right: 8px;

    &.header {
      font-weight: bold;
      border-bottom: .25px solid rgba(#9d9fa6, .5);
      //background-color: rgba(#9d9fa6, .2);
    }

    &.odd {
      background-color: rgba(#9d9fa6, .125);
    }

    ion-col.space-between {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  border-bottom: .25px solid rgba(#9d9fa6, .5);

}