.form-content {
  padding: 1rem 2rem 2rem;
  display: flex;
  flex-direction: column;

  .m-t {
    margin-top: 1rem;
  }
}


app-money-input {
  ion-item::part(native) {
    padding: 0;
    padding-inline: 0;
  }
}
